
/*icon*/
#electron-app-title-bar img.icon {
  height: 16px;
  width: 16px;
  margin: 6px;
}

/*window-controls*/
#electron-app-title-bar .window-controls {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  height: 100%;
}

#electron-app-title-bar .window-controls button {
  -webkit-app-region: no-drag;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #a0a0a0;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

#electron-app-title-bar .window-controls button:not(:disabled):focus {
  outline: none;
}

#electron-app-title-bar .window-controls button:not(:disabled):hover {
  background-color: #888;
  color: #fff;
}

#electron-app-title-bar .window-controls button:not(:disabled):hover:active {
  background-color: #666;
  transition: none;
}

#electron-app-title-bar .window-controls button.window-close:not(:disabled):hover {
  background-color: #e81123;
  color: #fff;
}

#electron-app-title-bar .window-controls button.window-close:not(:disabled):hover:active {
  background-color: #bf0f1d;
  transition: none;
}

#electron-app-title-bar .window-controls button svg {
  fill: currentColor;
}

#electron-app-title-bar :not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
