header.ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
} 

main.ant-layout-content {
  padding: 0 26px;
  margin-top: 64px;
}

section.ant-layout {
  background: #fff;
}

.todo-item:not(:last-child) {
  margin-bottom: 8px;
}